.button {
    width: 120px;
    height: 50px;
    background-color: rgb(4, 107, 73);
    display: inline-block;
    margin: 0 0 0 30px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 25px;
}